footer{
    padding: 0px 0px;
    @include flex-column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: map-get($colores, footer);

    grid-area: footer;

    ul{
        list-style-type: none;
        text-decoration: none;
        @include flex-row;
        li{
            a{
                color: map-get($colores , primario );
                text-shadow: black;
            }
            
        }
    }

}

.footer__texto{
    display: flex;
    justify-content: center;
}