

header{
    padding: 0px 0px;
    @include flex-row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    grid-area: header;

    ul{
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0px 10vh;
        @include flex-row;

        li{
            padding: 0px 2vh;
            a{
                color: map-get($colores, menu);
                text-shadow: black;
            }
            
        }

    }
}

.navbar{
    width: 100%;
    padding: 0 30vh 0 0;
    
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: end;
    a{
        color: map-get($colores, primario);
    }
    
}


