main{
    grid-area: main;
    margin: 0;
    padding: 0;
}

.main__imagen{
    padding: 16vh 0px 0 0;
    background-image: url(../imagenes/banner.jpg);
    @include tamaño(100%, auto);
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-row-center;
    flex-wrap: wrap;
    align-items: flex-start;

    h1{
        font-size: 4vh;
    }
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.cuadro-principal{
    margin: 1vh;
    @include flex-column;
    @include tamaño(auto, auto);
}
.cuadro-principal2{
    margin: 1vh;
    @include flex-column-aling-center;
    @include tamaño(192vw, auto);
    ul{
        list-style-type: none;
    }
}
.link{
    @include flex-column-aling-center;
    justify-content: center;
    font-size: 20px;
    
}

.boton{
    background-color: map-get($colores, boton);
    display: flex;
    align-items: center;

    @include animacion-boton;
   
    &:hover{
        background-color: gray;
    }
}

.segundaParte{
    background-image: url(../imagenes/banner2.jpg);
    @include tamaño(100%, auto);
    background-size: cover;
    background-repeat: no-repeat;
    @include flex-column-aling-center;
    font-size: 20px;
}
.segundaParte2{
    font-size: 15px;
    margin: 5px;
    @include flex-column-aling-center;
    @include tamaño(auto, 200px);
}
.actividades{
    @include flex-row;
}
.activi{
    margin: 10px 50px;
    @include tamaño(400px,300px);
    overflow: hidden;
}
caption {
    padding: 10px;
    font-size: 20px;
  }
td {
    padding: 8px;
    text-align: center;
  }
.plan{
    margin: 20px;
    @include flex-row;
}
.campos{
    @include flex-column;
    margin: 20px;
}
.campo{
    margin: 10px;
}